<%= @restaurant.name %>
<%= @restaurant.description %>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <%= "#{review.thoughts} (#{review.rating})" %>
    </li>
  <% end %>
</ul>

<%= link_to "Go back", restaurants_path %>